@font-face {
  font-family: Shrikhand-Regular;
  src: url(../../assets/fonts/Shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(../../assets/fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-Medium;
  src: url(../../assets/fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: roboto-light;
  src: url(../../assets/fonts/Roboto/Roboto-Light.ttf);
}
/*couleurs*/
/*breakpoint*/
/*loader*/
@keyframes suppress {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes ohmyfood {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*menu*/
@keyframes menu-appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.loader {
  /*placement loader*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: suppress 700ms 2000ms forwards;
}
.loader span {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  background-clip: text;
  padding-left: 7px;
  padding-right: 7px;
  color: transparent;
  font-family: Shrikhand-regular;
  font-size: 30px;
  font-style: italic;
  animation: ohmyfood 2000ms forwards;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  text-decoration: none;
}
.btn__explorer {
  position: relative;
  z-index: 1;
}
.btn__explorer:hover::after {
  opacity: 1;
}
.btn__explorer::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  border-radius: 25px;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.btn__explorer--size {
  padding: 13px 18.75px;
}
.btn__explorer--shadow {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.btn__explorer--background {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}
.btn__explorer--border_radius {
  border-radius: 25px;
}
.btn__explorer--font {
  font-family: roboto-medium;
  color: white;
  font-weight: 500;
}
.btn__fct {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
}
.btn__fct:hover::after {
  opacity: 1;
}
.btn__fct::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #F5EDFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.btn__fct:hover .fa-solid {
  color: #9356DC;
}
.btn__fct--size {
  padding: 28px 70px 28px 33px;
  margin-bottom: 10%;
  max-width: 322px;
}
@media screen and (min-width: 768px) {
  .btn__fct--size {
    margin-bottom: 0;
  }
}
.btn__fct--shadow {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.btn__fct--background {
  background: #F6F6F6;
}
.btn__fct--border_radius {
  border-radius: 20px;
}
.btn__fct--font {
  font-family: roboto-medium;
  font-weight: 500;
}
.btn__fct span {
  position: absolute;
  left: 0;
  margin-left: -11px;
  padding: 4px 8px;
  border-radius: 15px;
  background: #9356DC;
  color: white;
}

button i {
  width: 13px;
  margin-right: 27px;
  color: #7E7E7E;
}

.btn__order {
  display: flex;
  justify-content: center;
}
.btn__order .btn__order--size {
  padding: 13px 0;
  width: 186px;
}

body {
  margin: auto;
  max-width: 1400px;
}
body h2 {
  font-family: roboto-medium;
}
body h3 {
  font-family: roboto-medium;
}
body p {
  font-family: roboto-light;
}
body .img__backgrnd {
  display: block;
  position: relative;
  width: 100%;
  height: 40vh;
  object-fit: cover;
  z-index: -1;
}

header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
header h1 {
  font-family: Shrikhand-Regular;
  font-style: italic;
  margin: 0;
}
header a {
  position: absolute;
  left: 0;
  margin-left: 5%;
}
header i {
  color: #353535;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  background-color: #EAEAEA;
}
.location p {
  font-family: roboto-medium;
}
.location i {
  margin-right: 17px;
}

.explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #F7F7F7;
  padding: 40px 30px 57px 30px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav h2 {
  margin-bottom: 26px;
  text-align: left;
  margin-left: -11px;
}
nav .fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  nav .fonctionnement {
    flex-direction: row;
    gap: 3%;
  }
}

.padding {
  padding: 48px 20px 68px 20px;
}
@media screen and (min-width: 768px) {
  .padding {
    padding: 48px 25px 68px 25px;
  }
}

article {
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 34px;
  padding-bottom: 64px;
}
article h2 {
  margin-left: -200px;
}
@media screen and (min-width: 768px) {
  article h2 {
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) {
  article {
    padding-left: 10%;
    align-items: unset;
  }
}
article .card--position {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  article .card--position {
    display: flex;
    flex-direction: row;
    align-items: unset;
    gap: 5%;
    overflow-x: auto;
    width: 100%;
  }
}

section.__menu {
  background-color: #F7F7F7;
  border-radius: 40px 40px 0px 0px;
}
section.__menu--padding {
  padding: 32px 13px 40px 13px;
}
section.__menu--position {
  margin-top: -80px;
}
@media screen and (min-width: 768px) {
  section.__menu--position {
    margin-left: 15%;
    margin-right: 15%;
  }
}
section h2 {
  font-family: Shrikhand-Regular;
  font-weight: 400;
  font-style: italic;
}
section h3 {
  font-family: roboto-light;
  position: relative;
}
section h3::after {
  content: "";
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: -8px;
}
section .entree {
  margin-bottom: 40px;
  animation: menu-appear 1000ms ease-in-out both;
}
section .plat {
  margin-bottom: 40px;
  animation: menu-appear 1000ms 250ms ease-in-out both;
}
section .dessert {
  margin-bottom: 40px;
  animation: menu-appear 1000ms 500ms ease-in-out both;
}
section .name {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 24px;
}
section .name i {
  position: absolute;
  right: 25px;
  font-size: 30px;
}
section .name .fa-solid {
  background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  background-clip: text;
  color: transparent;
  opacity: 0;
}
section .name .fa-solid:hover {
  opacity: 1;
  transition: all 400ms;
}
section .name .fa-solid .fa-regular {
  opacity: 1;
}
section .name .fa-solid .fa-regular:hover {
  opacity: 0;
  transition: all 400ms;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 335px;
  position: relative;
  margin-bottom: 5%;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  text-decoration: none;
  color: black;
  background-color: white;
}
.card img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  max-width: 335px;
  z-index: 1;
}
.card .text {
  position: absolute;
  z-index: 2;
  top: 15px;
  right: 15px;
}
.card .text p {
  margin: 0;
  color: #008766;
  background-color: #99E2D0;
  padding: 7px 9px 7px 9px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
.card .container {
  padding: 16px 13px 12px 13px;
  position: relative;
}
.card .container div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.card .container h3 {
  margin: 0;
}
.card .container p {
  margin: 5px 0 5px 0;
}
.card .container i {
  position: absolute;
  right: 25px;
  font-size: 30px;
}
.card .container .fa-solid {
  background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  background-clip: text;
  color: transparent;
  opacity: 0;
}
.card .container .fa-solid:hover {
  opacity: 1;
  transition: all 400ms;
}
.card .container .fa-solid .fa-regular {
  opacity: 1;
}
.card .container .fa-solid .fa-regular:hover {
  opacity: 0;
  transition: all 400ms;
}

/* restaurant*/
.card_menu {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  /*padding: 5px 15px 5px 15px;*/
  border-radius: 15px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
  color: black;
  background-color: white;
}
.card_menu h4 {
  font-family: Roboto-Medium;
  margin: 5px 0 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card_menu p {
  font-family: roboto-light;
  margin: 5px 0 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card_menu .__description {
  padding: 10px 0 10px 10px;
  overflow: hidden;
}
.card_menu .__price {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  padding: 10px 0 10px 0;
  margin-right: 17px;
}
.card_menu .__price p {
  font-family: Roboto-Medium;
}
.card_menu .__valid {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  width: 60px;
  margin-right: -60px;
  transition: all 250ms;
}
.card_menu .__valid i {
  color: white;
  font-size: 20px;
}
.card_menu:hover .__valid {
  margin-right: 0;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  text-align: left;
  color: white;
  padding-bottom: 33px;
}
@media screen and (min-width: 768px) {
  footer {
    flex-direction: row-reverse;
    align-items: baseline;
  }
}
footer div {
  padding-left: 25px;
}
@media screen and (min-width: 768px) {
  footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    gap: 5%;
  }
}
@media screen and (min-width: 768px) {
  footer .footer__title {
    padding-right: 6%;
    padding-left: 8%;
  }
}
footer h2 {
  font-family: Shrikhand-Regular;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 22px;
}
footer p {
  font-family: roboto-medium;
  flex-shrink: 0;
}
footer i {
  width: 11px;
  margin-right: 15px;
}
footer a {
  text-decoration: none;
  font-family: roboto-medium;
  color: white;
}

/*# sourceMappingURL=style.css.map */
