article {
    background-color: $main-backgrnd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 34px;
    padding-bottom: 64px;

    h2 {
        margin-left: -200px;
        @include mobile_plus {
            margin-left: 0;
        }
    }

    @include mobile_plus {
        padding-left: 10%;
        align-items: unset;
    }
    

    .card--position{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        @include mobile_plus {
            display: flex;
            flex-direction: row;
            align-items: unset;
            gap: 5%;
            overflow-x: auto;
            width: 100%;

        }
        }
    

  
}