body {
    margin: 0;

    #bloc_page {
        max-width: 768px;
    }

    h2 {
        font-family: roboto;
    }

    h3 {
        font-family: roboto;
    }

    p {
        font-family: roboto;
    }
}
