.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
    max-width: 335px;
    position: relative;

    margin-bottom: 5%;

    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);

    border-radius: 15px;
   
    text-decoration: none;
    color: black;
    background-color: white;


    img {
        border-radius: 15px 15px 0 0;
        object-fit: cover;
        max-width: 335px;
        z-index: 1;
    }
    .text {
        position: absolute;
        z-index: 2;
        top: 15px;
        right: 15px;


        p {
            margin: 0;
            color: $nouveau-colorfnt;
            background-color: $nouveau-colorbackgrnd;
            padding: 7px 9px 7px 9px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
            border-radius: 2px;
        }

    }

    .container {
        padding: 16px 13px 12px 13px;
        position: relative;
        div {
            display: flex;
            flex-direction: row;
            align-items: baseline;
          
        }
        h3 {
            margin: 0;
        }

        p {
            margin: 5px 0 5px 0;
        }

        i {
            position: absolute;
            right: 25px;
            font-size: 30px;
        }

        .fa-solid {
            background-image: $linear-gradient;
            background-clip: text;
            color: transparent;
            opacity: 0;

            &:hover {
                opacity: 1;
                transition: all 400ms;
            }

        .fa-regular {
            opacity: 1;
            
            &:hover {
                opacity: 0;
                transition: all 400ms;
            }
        }
        }


}
}

/* restaurant*/

.card_menu
{
    display: flex;
    flex-direction: row;
   
    margin-bottom: 12px;
    /*padding: 5px 15px 5px 15px;*/

    border-radius: 15px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    color: black;
    background-color: white;

    h4 {
        font-family: Roboto-Medium;
        margin: 5px 0 5px 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    p {
        font-family: roboto-light;
        margin: 5px 0 5px 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .__description {
        padding: 10px 0 10px 10px;
        overflow: hidden;
    }
    
    .__price {
       
        margin-left: auto;
        display: flex;
        align-items: flex-end;
        padding: 10px 0 10px 0;
        margin-right: 17px;

        p{
            font-family: Roboto-Medium;
        }
    }
    
    .__valid{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $nouveau-colorbackgrnd;
        border-radius: 0 15px 15px 0;
        width: 60px;
        margin-right: -60px;

        transition: all 250ms;

        i{
            color: white;
            font-size: 20px;
        }               
    }

    &:hover .__valid{
        margin-right: 0;
        
    
    }
}



