.explorer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    background-color: $main-backgrnd;

    padding: 0 30px 57px 30px;

}