header { 
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

    h1 {
        font-family: Shrikhand-Regular;
        font-style: italic;
        margin: 0;
    }


    a {
         position: absolute;
         left: 0;
         margin-left: 5%;
    }

    i{
        color: $footer-backgrnd;
     }    

}