
.loader {
    /*placement loader*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
   
    animation: suppress 700ms 2000ms forwards; 
    
    

    span {
        background: $linear-gradient;
        background-clip: text;
        padding-left: 7px;
        padding-right: 7px;
        color: transparent;
        font-family: Shrikhand-regular;
        font-size: 30px;
        font-style: italic;
        
        animation: ohmyfood 2000ms forwards;
        
    }
}