.location{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    
    background-color: $location-backgrnd;

    p {
        font-family: roboto-medium;
    } 
    

    i {
        margin-right: 17px;
    }
}