.location{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    
    background-color: $location-backgrnd;

    i {
        margin-right: 17px;
    }
}