nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        margin-bottom: 26px;
    }

    .fonctionnement {
        display: flex;
        flex-direction: column;
        justify-content: space-around;


    }

    .margin {
        margin-top: 48px;
        margin-bottom: 68px;

    }
}