nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    h2 {
        margin-bottom: 26px;
        text-align: left;
        margin-left: -11px;
    }

    .fonctionnement {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @include mobile_plus {
            flex-direction: row;
            gap: 5%;
        }

    }
}

.padding {
    padding: 48px 20px 68px 20px;

}