section {
    &.__menu{
        background-color: $main-backgrnd;
        border-radius: 40px 40px 0px 0px;
        
        &--padding{
            padding: 32px 13px 40px 13px;
        }
        &--position{
            margin-top: -80px;
            
            @include mobile_plus {
                margin-left: 15%;
                margin-right: 15%;
                padding-left: 13%;
                padding-right: 13%;
            }
        }
    }

    h2 {
        font-family: Shrikhand-Regular;
        font-weight: 400;
        font-style: italic;
    }

    h3 {
        font-family: roboto-light;
        position: relative;

        &::after{
            content: "";
            height: 3px;
            width: 40px;
            background-color: $nouveau-colorbackgrnd;
            position: absolute;
            left: 0;
            bottom: 0;
            margin-bottom: -8px;
        }
    }

    .entree {
        margin-bottom: 40px;

        animation: menu-appear $time-menu-appear ease-in-out both;
    }

    .plat {
        margin-bottom: 40px;
        animation: menu-appear $time-menu-appear $time-menu-appear/4*1 ease-in-out both;
    }

    .dessert {
        margin-bottom: 40px;
        animation: menu-appear $time-menu-appear $time-menu-appear/4*2 ease-in-out both;
    }
    
        .name {
            display: flex;
            position: relative;
            align-items: center;
            margin-bottom: 24px;
            
            max-width: 400px;
            margin: auto;            
        i {
            position: absolute;
            right: 25px;
            font-size: 30px;
        }

        .fa-solid {
            background-image: $linear-gradient;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            opacity: 0;
    
            &:hover {
                opacity: 1;
                transition: all 400ms;
            }
    
        .fa-regular {
            opacity: 1;
            
            &:hover {
                opacity: 0;
                transition: all 400ms;
            }
        }
        }
        }
    }
