/*couleurs*/

$main-clr: #9356DC;
$main-backgrnd: #F7F7F7;
$btn-backgrnd : #F6F6F6;
$btn-icon-backgrnd: #7E7E7E;
$btn-fct-hover: #F5EDFF;
$location-backgrnd: #EAEAEA;
$linear-gradient: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
$linear-gradient-lght: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
$nouveau-colorfnt: #008766;
$nouveau-colorbackgrnd: #99E2D0;
$footer-backgrnd: #353535;


/*breakpoint*/
$breakpoints: (
    mobile: 768px
);
